In [89]:
import pandas as pd

In [90]:
data=pd.read_csv('C:/Users/neela/Desktop/data.csv', encoding='cp1252')

In [91]:
df=data.iloc[6:,] #including only the necessary details

In [92]:
#making the new header of the given data
new_header=df.iloc[0]
df=df[1:]
df.columns=new_header

In [109]:
df.head()

6,Disease,Count of Disease Occurrence,Symptom
7,UMLS:C0020538_hypertensive disease,3363,UMLS:C0008031_pain chest
8,NaN,NaN,UMLS:C0392680_shortness of breath
9,NaN,NaN,UMLS:C0012833_dizziness
10,NaN,NaN,UMLS:C0004093_asthenia
11,NaN,NaN,UMLS:C0085639_fall

In [94]:
df.columns

Index(['Disease', 'Count of Disease Occurrence', 'Symptom'], dtype='object', name=6)

In [95]:
df.head()

6,Disease,Count of Disease Occurrence,Symptom
7,UMLS:C0020538_hypertensive disease,3363,UMLS:C0008031_pain chest
8,NaN,NaN,UMLS:C0392680_shortness of breath
9,NaN,NaN,UMLS:C0012833_dizziness
10,NaN,NaN,UMLS:C0004093_asthenia
11,NaN,NaN,UMLS:C0085639_fall

In [96]:
#replacing the NaN values with the count of values of the respective disease
y=df.fillna(method='ffill')

In [107]:
y.head()

6,Disease,Count of Disease Occurrence,Symptom,disease code,disease
7,UMLS:C0020538_hypertensive disease,3363,UMLS:C0008031_pain chest,UMLS:C0020538,hypertensive disease
8,UMLS:C0020538_hypertensive disease,3363,UMLS:C0392680_shortness of breath,UMLS:C0020538,hypertensive disease
9,UMLS:C0020538_hypertensive disease,3363,UMLS:C0012833_dizziness,UMLS:C0020538,hypertensive disease
10,UMLS:C0020538_hypertensive disease,3363,UMLS:C0004093_asthenia,UMLS:C0020538,hypertensive disease
11,UMLS:C0020538_hypertensive disease,3363,UMLS:C0085639_fall,UMLS:C0020538,hypertensive disease

In [98]:
#separating the disease and code from the "Disease" column
y[['disease code','disease']] = y.Disease.str.split("_",expand=True,)

In [106]:
y.head()

6,Disease,Count of Disease Occurrence,Symptom,disease code,disease
7,UMLS:C0020538_hypertensive disease,3363,UMLS:C0008031_pain chest,UMLS:C0020538,hypertensive disease
8,UMLS:C0020538_hypertensive disease,3363,UMLS:C0392680_shortness of breath,UMLS:C0020538,hypertensive disease
9,UMLS:C0020538_hypertensive disease,3363,UMLS:C0012833_dizziness,UMLS:C0020538,hypertensive disease
10,UMLS:C0020538_hypertensive disease,3363,UMLS:C0004093_asthenia,UMLS:C0020538,hypertensive disease
11,UMLS:C0020538_hypertensive disease,3363,UMLS:C0085639_fall,UMLS:C0020538,hypertensive disease

In [105]:
#deleting the "Disease" column
j=y.drop(['Disease'],axis=1)
j.head()

6,Count of Disease Occurrence,Symptom,disease code,disease
7,3363,UMLS:C0008031_pain chest,UMLS:C0020538,hypertensive disease
8,3363,UMLS:C0392680_shortness of breath,UMLS:C0020538,hypertensive disease
9,3363,UMLS:C0012833_dizziness,UMLS:C0020538,hypertensive disease
10,3363,UMLS:C0004093_asthenia,UMLS:C0020538,hypertensive disease
11,3363,UMLS:C0085639_fall,UMLS:C0020538,hypertensive disease

In [103]:
#sorting the columns as required
columnsTitles=["disease","Count of Disease Occurrence","disease code","Symptom"]
d=j.reindex(columns=columnsTitles)

In [108]:
d.head()

6,disease,Count of Disease Occurrence,disease code,Symptom
7,hypertensive disease,3363,UMLS:C0020538,UMLS:C0008031_pain chest
8,hypertensive disease,3363,UMLS:C0020538,UMLS:C0392680_shortness of breath
9,hypertensive disease,3363,UMLS:C0020538,UMLS:C0012833_dizziness
10,hypertensive disease,3363,UMLS:C0020538,UMLS:C0004093_asthenia
11,hypertensive disease,3363,UMLS:C0020538,UMLS:C0085639_fall